* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.register {
  background-color: #eee;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.form_title {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  margin-bottom: 41px;
}

.form_group {
  width: 300px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  margin-bottom: 5px;
  cursor: pointer;
}

.form_group:not(:first-child) {
  margin-top: 14px;
}

.form_error {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #e74c3c;
  margin-top: 5px;
  margin-bottom: 7px;
  width: 300px;
}

.form_input {
  width: 300px;
  height: 50px;
  padding: 14px 0 15px 15px;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}

.form_input:focus {
  box-shadow: 0px 0px 0px 1px #2979ff;
}

.form_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 120px;
  width: 300px;
  height: 50px;
  background: #2979ff;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
}

.circle {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: inherit;
}

.form_radio {
  display: flex;
  flex-flow: row;
  gap: 10px;
  width: 300px;
}

.sex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #999;
}

.form_radio {
  margin-top: 14px;
  margin-bottom: 30px;
}

.radio {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
}

.form_checkbox {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 300px;
  gap: 20px;
  margin-bottom: 26px;
  margin-top: 26px;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.checkbox_text {
  font-size: 14px;
  color: #999;
}

.form_dropd∆°wn {
  position: relative;
}

.dropdown {
  width: 300px;
  height: 50px;
  padding: 14px 0 15px 15px;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.dropdown span {
  font-size: 14px;
  line-height: 21px;
  color: #999;
}

.dropdown_selected {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 4px;
}

.selected {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 14px 0 15px 15px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 14px;
  color: #999;
}

.selected:hover {
  background-color: #eee;
}

.active {
  opacity: 0;
  visibility: visible;
}

.loading {
  border: 5px solid #f3f3f3;
  /* Light grey */
  border-top: 5px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.setloading {
  opacity: 0.5;
  cursor: unset;
}
